.logo {
    background-color: #00000059;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    

    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo:hover {
    background-color: #000000;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out;
}
.box-img {
align-items: center;
float: right;
object-fit: contain;

}
body {   
    animation-name: change-background-color;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes change-background-color {
    from {
        background-color: rgb(8, 8, 8);
        color: rgb(255, 255, 255);
    }
    to {
        color: #000;
        background-color: rgb(242, 244, 247);
    }
}

.box-img:hover {

    transform: scale(1.2);
}

img {
        transition: transform 0.5s ease;
}
.box {
    width: 100%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}
.box {
background-color: #00000059;
z-index: 10000;
}
.box:hover{
background-color: #000000;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out;

}
.mobile div {
    display: block;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #000000ed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 9999999;
    border: 4px solid #ffffff;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    box-sizing: content-box;
}

.mobile div span {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 13px;
    transition-duration: .4s;
}

.mobile div span:nth-child(1) {
    top: 14px;
}

.mobile div span:nth-child(2) {
    top: 23px;
}

.mobile div span:nth-child(3) {
    bottom: 14px;
}

.mobile div.active span:nth-child(1) {
    transform: translate(-15px, 9px) rotate(-45deg);
}

.mobile div.active span:nth-child(2) {
    transition-duration: 0s;
    opacity: 0;
}

.mobile div.active span:nth-child(3) {
    transform: translate(-15px, -9px) rotate(45deg);
}

.mobile nav {
    display: block;
    position: fixed;
    bottom: 16px;
    right: 16px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 9999990;
    transition-duration: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mobile nav.open {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    right: 0px;
    bottom: 0px;
    border-radius: 0;
}

.mobile nav ul {
    display: none;
}

.mobile nav ul.show {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.mobile ul li:not(:last-child) {
    margin-bottom: 22px;
}

.mobile ul li a {
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #fff;
}

@keyframes fadein {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}
